extend _template.jade

block head
	script(src='https://code.jquery.com/jquery-2.1.4.min.js')
	script(src='socket.io/socket.io.js')
	script(src='js/svg.min.js')
	script(src='js/ces-browser.min.js')

	script(src='js/chat.js')

	script(src='js/game/control.js')
	script(src='js/game/render.js')
	script(src='js/game/sync.js')
	script(src='js/game/client.js')

block content
	.media
		.media-left.media-middle
			#game
		.media-body
			#chat
				ul.list-group.height-max-540
				.input-group
					input(type='text').form-control
					span.input-group-btn
						button#say.btn.btn-default
							span.glyphicon.glyphicon-comment