doctype html
html(lang='en')
	head
		title!= title

		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==' crossorigin='anonymous')
		link(rel='stylesheet' href='css/font-awesome.min.css')

		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' integrity='sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==' crossorigin='anonymous')

		link(rel='stylesheet' href='css/style.css')

		block head
	body
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='navbar-collapse-menu')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/')!= title

				#navbar-collapse-menu.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='guide.jade') How to play
					form.navbar-form.navbar-left(role='search')
						.form-group
							input.form-control(type='text' placeholder='Everything')
						button.btn.btn-default(type='submit') Search

					ul.nav.navbar-nav.navbar-right
						li
							a(href='enter.jade') Play
						li
							a(href='rankings.jade') Rankings

						li.dropdown
							a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
								if user
									| #{user.username} 
								else
									| You 
								span.caret
							ul.dropdown-menu
								if user
									li
										a(href='preferences.jade') Preferences
									li
										a(href='manage-account.jade') Manage Account
									li.divider(role='separator')
									li
										a(href='logout.jade') Logout
								else
									li
										a(href='login.jade') Login
									li
										a(href='register.jade') Register
		.container-fluid
			.row
				.col-xs-12.col-sm-offset-1.col-sm-10.col-lg-offset-2.col-lg-8
					block content