extend _template.jade

block head

block content
	p!=l('loc.enterName')
	form(action='game.jade' method='get')
		.form-group
			label(for='name')!=l('loc.characterName')
			input(type='text' id='name' name='name').form-control
		.form-group.text-center
			button(type='submit').btn.btn-default!=l('loc.playGame')