extend _template.jade

block head

block content
	.panel.panel-default
		.panel-heading
			h3.panel-title!=l('loc.indexTitle')
		.panel-body
			p!=l('loc.indexExcerpt1')
			p.text-center
				a.btn.btn-default(href='enter.jade')!=l('loc.startGame')
			p!=l('loc.indexExcerpt2')
